<div class="main-content">
  <div class="file-upload">
    <button class="select-file-button" mat-button color="primary">Dosya Seç
      <mat-icon>file_upload</mat-icon>
    </button>
    <input type="file" (change)="onSelectFile($event)">
  </div>
  <div class="select-answer-content">
    <mat-select [(ngModel)]="selectedAnswer" class="select-answers">
      <mat-option *ngFor="let answer of answerList" [value]="answer">
        {{answer}}
      </mat-option>
      <mat-option value="-">
        Grafik İçin Cevap Seçiniz
      </mat-option>
    </mat-select>
  </div>
  <div id="graph-1"></div>
</div>