@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-select-value {
    color: #fff !important;
}

.mat-select-arrow {
    color: #fff !important;
}

html, body {
    margin:0;
    padding: 0;
    height: 100vh;
}